<div *ngIf='isLoading'>

<h2> Welcome {{user.username}} </h2>

<div class="border border-dark divCenter">
<h2 > Available : $ {{portfolio.nonInvestedBalance}} </h2>
</div>

<div class="depositDiv">
<button class="btn btn-dark text-uppercase fw-bold " (click) = deposit()>Deposit</button>
<button class="btn btn-dark text-uppercase fw-bold withdrawButton" (click) = withdraw() >Withdraw</button>

<div [ngClass]="[btnStyle]">
<form #f="ngForm" (ngSubmit)="onSubmit()" [hidden] = "hideIt">
  <table>
      <tr>
          <td>How much do you want to {{operation}}</td>
      </tr>
      <tr>
        <input [(ngModel)]="amount" type="number" name="amount" min="0" class="form-control">
      </tr>
      <tr>
        <button type="submit" class="btn btn-dark">Submit</button>
      </tr>
  </table>
  </form>
</div>

</div>

<div class="border border-dark divCenter">
  <h2 > Invested : $ {{portfolio.investedTotalBalance}}  </h2>

  <button class="btn btn-dark text-uppercase fw-bold" (click)='goToTransaction()'>Transaction</button>
  <button  class="btn btn-dark text-uppercase fw-bold" (click)='goToInvestment()'>Investment</button>
  </div>
   

</div>
